.cell {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    text-align: center;
    font-size: 80px;
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    /* grid-template-columns: repeat(3, 100px); */
    justify-content: center;
}

p, button{
    text-align: center;
}