.App {
  text-align: center; 
  align-content: center;
}

.Contact {
  color: rgb(7, 33, 180);
  font-size: 20px;
  background-color: cyan;
  border: rgb(97, 80, 80) solid;
  width: 500px;
  height:200px;
  margin-left: 25%;
  margin-right: 25%;
}

.About {
  color: rgb(7, 33, 180);
  font-size: 20px;
  background-color: cyan;
  border: rgb(97, 80, 80) solid;
  width: 500px;
  height:200px;
  margin-left: 25%;
  margin-right: 25%;
}