.App {
  background-color: #EEE;
  text-align: center; 
  align-content: center;
  border: solid rgb(109, 92, 92);
  /* height: 300px; */
  width: 300px;
  margin-left: 250px;
}

.title {
  font-size: bold;
  background-color: antiquewhite;
  color: rgb(69, 75, 55);
}