.App {
  text-align: center;
  border: solid #ff6347ad 5px;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.Todo {
  border: solid blue 3px;
  display: block;
}

.Add {
  border: solid greenyellow 3px;
  display: inline-block;
}

.STATUS, .DELETE{
  display: inline-block;
  margin-left: 12px;
}

.Register, .Login{
  text-align: left;
  margin-left: 0%;
}

.Logout{
  background-color: #f5f5f5;
}