.App {
  text-align: center;
  border: solid red 5px;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  margin:auto;
}

.Todo {
  border: solid blue 3px;
}

.Add {
  border: solid greenyellow 3px;
}